[name = "postImage"]{
    width: 22.50em;
}
[id *= "sample"], [id *= "vehicle"]{
    height: 12em;
    width: 20em;
    margin: 0.95em;
}
[id = "feedbackAlert"], [id = "loginAlert"], [id = "logoutAlert"], [id = "listingIdentifier"], [id = "registrationAlert"], [id = "removalAlert"], [id = "saleAlert"], [id = "validationAlert"]{
    background-color: #000000;
    border: groove;
    border-radius: 0.35em;
    box-shadow: 3.5px 3.5px 5.5px #000000;
    color: rgb(230, 230, 0);
    display: none;
    padding: 0.5em;
}
[type = "button"]{
    border: groove 0.15em;
}
[type = "submit"], .pageLink{
    border: solid 2px #000000;
    background: linear-gradient(grey, white);
}
.address{
    color: rgba(0, 0, 0, 0.75);
    font-size: 15pt;
    font-weight: bold;
    text-align: center;
}
.carousel{
    border-collapse: separate;
    border-spacing: 2em;
    text-align: center;
}
.disclaimer{
    color: rgba(174, 2, 0, 0.75);
    font-size: 13pt;
    text-decoration: underline;
}
.flag{
    height: 10em;
    box-shadow: none;
    display: inline;
    margin: 0.50em;
}
.innerDivision, .manufacturerDescription{
    border: solid 1px #000000;
    box-shadow: 0.5px 0.5px 2.5px #000000;
}
.logo{
    display: block;
    margin: auto;
}
.mail, .manufacturerSite{
    color: darkblue;
    text-decoration: underline;
}
.manufacturerDescription{
    border-radius: 0.25em;
    display: block;
    margin: 0.95em;
}
.manufacturerLogo{
    display: block;
    height: 8em;
    width: 26em;
    margin: auto;
}
.pageLink{
    text-align: center;
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
}
.pageLink{
    width: 8em;
}
input, select{
    width: 10.5em;
}
.pageLink, input, select{
    font-size: 16pt;
}
.canvas, .dataSheet, manufacturerDescription, .presentation{
    font-size: 19pt;
    font-family: Futura, Helvetica, Nimbus, Ubuntu, Verdana;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0.55);
}
.canvas, .dataSheet, .presentation{
    padding: 0.95em;
}
.form{
    display: inline-block;
}
.forms{
    text-align: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.manufacturerDescription{
    padding: 0.95em;
}
.product{
    display: inline-block;
    margin: 0.5em;
    padding: 0.5em;
}
.selection{
    display: inline-block;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
}
.manufacturerDescription, .presentation{
    background-color: rgba(255, 255, 255, 0.55);
}
.carousel, .innerDivision{
    background-color: rgba(191, 191, 179, 0.65);
}
a{
    text-decoration: none;
    color: black;
}
body {
    background-attachment: fixed;
    background-image: url("../motif/shopWallpaper.jpg");
    background-size: cover;
}
label{
    margin: 0.25em;
}
nav{
    text-align: center;
}
textarea{
    width: 50em;
    height: 25em;
    font-size: 12pt;
    columns: 1;
}
table{
    margin: auto;
    border-collapse: collapse;
}
td, th{
    border-bottom: solid 1px #000000;
    text-align: left;
    padding: 0.5em;
    width: 10em;
}
div, nav{
    margin: 0.95em;
    padding: 0.25em;
    font-family: arial, sans-serif;
    font-size: 16pt;
    background-color: rgba(191, 191, 179, 0.65);
}
.pageLink, div, nav{
    border: solid 2px #000000;
}
button, input, select{
    height: 2.5em;
}
button, input, select, textarea {
    border-style: inset;
    display: block;
    margin: 0.25em;
    padding: 0.35em;
}
input, select, textarea{
    background-color: azure;
}
.dataSheet, .pageLink, .vehicle, div, img, input, nav, select, textarea{
    border-radius: 0.25em;
    box-shadow: 1.5px 1.5px 2.5px #000000;
}