* {
    border-color: #000000;
    border-width: 0.10em;
    font-family: Arial, Helvetica, sans-serif;
}
[id = "alert"], [id = "notice"], label {
    background-color: inherit;
    border: none;
    box-shadow: none;
    color: #E60000;
    font-size: 10pt;
    margin: 0.25em;
    font-weight: bold;
    text-transform: capitalize;
}
.email{
    display: block;
    text-decoration: underline;
    text-transform: none;
}
button, input, select {
    border-style: inset;
    box-sizing: border-box;
    display: block;
    margin: 0.45em;
    padding: 0.35em;
    width: 12em;
    height: 3em;
}
div, input, p, select, table {
    box-shadow: 2.5px 2.5px 2.5px #000000;
}
a {
    display: list-item;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 0.5em;
}
body {
    background-attachment: fixed;
    background-image: url("../motif/storeWallpaper.jpg");
    background-size: cover;
    font-family: sans-serif;
}
div {
    background-color: #4FB4E3;
    margin: 1.75em;
    padding: 1em;
    border: groove 0.15em #797979;
}
img {
    background-color: #000000;
    border-style: outset;
    width: 15em;
    height: 15em;
    padding: 1em;
}
p {
    background-color: #FFFFFF;
    border-style: inset;
    padding: 1em;
    text-align: justify;
}
summary {
    border: none;
    padding: 0.5em;
    height: 0.5em;
}
table {
    border-color: #797979;
    border-style: groove;
    font-size: 9pt;
    margin: auto;
    padding: 0.15em;
    text-align: center;
}
td {
    color: inherit;
    border-color: inherit;
    border-style: groove;
    border-width: 1pt;
    padding: 2pt;
}