/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23/03/2017, 5:20:51 PM
    Author     : Fabio Elia Locatelli
*/
* {    
    font-family: sans-serif;
    color: wheat;
}
th {
    text-align: center;    
}
td {
    text-align: left;
    font-size: 0.85em;
}
table {
    width: 50%;
    margin: auto;
    table-layout: fixed;
    border: 1px solid blanchedalmond;
    box-shadow: 2px 2px 4px darkcyan;
}
label {
    color: blanchedalmond;
    margin: 0.25em;
    padding-bottom: 0.55em;
    display: block;
    text-align: left;
}
input{
    color: darkslategrey;
    display: block;
    float: right;
    clear: left;
    margin: 0.25em;
    border-radius: 0.25em;
    border: 1px solid darkcyan;
    box-sizing: content-box;
}
form{
    margin: auto;
    display: table;
    padding: 0.25em;
    background-color: cadetblue;
    box-shadow: 2px 2px 4px darkcyan;
}
#mainContainer {
    width: 120em;
    margin: auto;
    padding: 0.25em;
}
#constellationContainer, #starContainer {
    width: 100%;
    padding: 0.5em;
    margin: auto;
}
.odd {
    background-color: darkcyan; 
}
.even {
    background-color: darkslategrey;
}
.header {
    background-color: cadetblue;
    font-style: italic;
    font-size: 0.95em;
    font-weight: normal;
}
.hover {
    background-color: teal;
}
.pointer {
    cursor: pointer;
}
.clickable, .orderedConstellation {
    color: blanchedalmond;
}
input[type=button]{
    margin-right: 0.5em;
}

